.content-block(*ngIf="loading")
    p Loading...

.content-block(*ngIf="!loading && page")
    h2 {{page.title}}

    template([ngIf]="media")
        h3 Featured media:
        img([src]="media.link")

    h3 Content:
    .content([innerHTML]="page.content")

.content-block(*ngIf="!loading && pageNotFound")
    h2 Page Not Found
    p The page you requested was not found.