@import './globals/*'

body
    font-family site-font
    margin 0
    padding 10px
    background-color color-body-background
    
nav, main
    max-width page-width
    margin 0 auto
    padding 0
    border 1px solid black

main
    color color-paragraph
    background-color color-main-background
    padding 10px 0

.content-block
    padding 10px

h1, h2, h3
    color color-heading
    
a, a:active, a:hover, a:visited
    color color-link
