@import '../styles/globals/*'

h1
    color white
    text-shadow 2px 2px 2px rgba(0, 0, 0, 0.75)    
    max-width page-width
    text-align center
    margin 0 auto
    padding 150px 0 5px 0
    border 1px solid black
    background-image url('assets/images/background.jpg')
    background-repeat no-repeat
    background-position center
    background-size cover

nav
    background-color black
    a
        color white
        font-weight bold
        text-decoration none
        padding 20px
        display inline-block
        &:hover
            background yellow

.active
    background-color red

pre
    font-size 12px

