.item(*ngFor="let item of items | orderBy:'order':false")
    a(
        [innerHTML]="item.title | sanitize",
        [routerLink]="[item.link]",
        routerLinkActive="active",
        [routerLinkActiveOptions]="{exact: true}"
    )
    .children(*ngIf="item.children")
        .item(*ngFor="let child of item.children")
            a(
                [innerHTML]="child.title | sanitize",
                [routerLink]="[child.link]",
                routerLinkActive="active",
                [routerLinkActiveOptions]="{exact: true}"
            )